body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
    font-size: 18px;
}

.homepage {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}

.recipes {
    font-size: 22px;
    font-weight: 400;
}

.recipeimage {
    height: auto;
    width: 600px;
}